<div id="<%= dom_id ingredient %>">
  <p>
    <strong>Ingr name:</strong>
    <%= ingredient.ingr_name %>
  </p>

  <p>
    <strong>Test field1:</strong>
    <%= ingredient.test_field1 %>
  </p>

  <p>
    <strong>Test field2:</strong>
    <%= ingredient.test_field2 %>
  </p>

  <p>
    <strong>Test field3:</strong>
    <%= ingredient.test_field3 %>
  </p>

</div>
